# Django Configuration
DEBUG=False
DJANGO_SECRET_KEY=votre_cle_secrete_ici
# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# Database PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=auth_roles_db
DB_USER=auth_user
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=
